@import "tailwindcss";
*,
*:before,
*:after {
  box-sizing: border-box;
}

root {
  --color-main: #06b6d4;
  --color-dark-main: #164e63;
}

@theme {
  --color-main: #06b6d4;
  --color-dark-main: #164e63;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Satoshi-Variable", sans-serif;
}

@font-face {
  font-family: "Satoshi-Variable";
  src: url("/../fonts/Satoshi-Variable.ttf") format("truetype");
}

@view-transition {
  navigation: auto;
}
